    
<!-- <button class="go-back-button" (click)="goBack()">
    <div class="contenuto-bottone">
        <span class="go-back-arrow">&#8592;</span> GO BACK
    </div>
</button> -->

<app-button [actionRichiesta]="goBackAction" (onClick)="goBack()"></app-button>

<form class="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="id">Id Prenotazione:</label>
        <input type="number" id="id" [(ngModel)]="prenotazione.id" name="id" required style="width: 70px;">
    </div>

    <div class="form-group">
        <label for="idUtente">idUtente:</label>
        <input type="number" id="idUtente" [(ngModel)]="prenotazione.idUtente" name="idUtente" required style="width: 40px;">
        <input type="text" id="utenteNome" [(ngModel)]="utente" name="utenteNome" required disabled>
    </div>

    <div class="form-group">
        <label for="idAuto">idAuto:</label>
        <input type="number" id="idAuto" [(ngModel)]="prenotazione.idAuto" name="idAuto" required style="width: 40px;">
        <input type="text" id="autoNome" [(ngModel)]="auto" name="auto" required disabled>
    </div>
    <div class="form-group">    
        <label for="dataRichiesta">data Richiesta:</label>
        <input type="date" id="dataRichiesta" [(ngModel)]="prenotazione.dataRichiesta" name="dataRichiesta" required>
    </div>
    <div class="form-group">    
        <label for="dataInizio">data Inizio:</label>
        <input type="date" id="dataInizio" [(ngModel)]="prenotazione.dataInizio" name="dataInizio" required>
    </div>
    <div class="form-group">    
        <label for="dataFine">data Fine:</label>
        <input type="date" id="dataFine" [(ngModel)]="prenotazione.dataFine" name="dataFine" required>
    </div>
    <div class="form-group">
        <label for="confermata">Confermata:</label>
        <select id="confermata" name="confermata" [(ngModel)]="prenotazione.confermata">
            <option value= "null" [defaultSelected]="true"></option>
            <option [value]="false">NO</option>
            <option [value]="true">SI</option>
        </select>
    </div>
    <div class="form-group" *ngIf="prenotazione.confermata">    
        <label for="dataConferma">data Conferma:</label>
        <input type="date" id="dataConferma" [(ngModel)]="prenotazione.dataConferma" name="dataConferma" required>
    </div>
    <div *ngIf="prenotazione.cancellataDa !== 0" style="display:flex; flex-direction:column; gap: 10px;"> 
        <div class="form-group">    
            <label for="dataCancellazione">data Cancellazione:</label>
            <input type="date" id="dataCancellazione" [(ngModel)]="prenotazione.dataCancellazione" name="dataCancellazione" required>
        </div>
        <div class="form-group">    
            <label for="cancellataDa">cancellata Da:</label>
            <input type="text" id="cancellataDa" [(ngModel)]="prenotazione.cancellataDa" name="cancellataDa" required>
        </div>
    </div>

    
    <button type="submit" class="save-button">Salva</button>
  </form>
  